#include <windows.h>
#include "resource.h"

//Icon
SMALL       ICON DISCARDABLE "Small.ico"
EDITBOXICON ICON DISCARDABLE "rcIcon.ico"

// Menu
EDITBOXMENU MENU DISCARDABLE
BEGIN
    POPUP "文件(&F)"
    BEGIN
        MENUITEM "退出(&X)",                IDM_EXIT
    END
    POPUP "字体(&T)"
    BEGIN
        MENUITEM "选择字体字样(&F)...",     IDM_SELECTFONTFACE
        MENUITEM "选择字体风格(&S)...",     IDM_SELECTFONTSTYLE
        MENUITEM "设置字体方向(&O)...",     IDM_SELECTFONTORIENT
        MENUITEM "设置字体颜色(&C)...",     IDM_SELECTFONTCOLOR
    END
    POPUP "帮助(&H)"
    BEGIN
        MENUITEM "关于(&A)...",             IDM_ABOUT
    END
END

// Dialog
ABOUTBOX DIALOG DISCARDABLE 20,25,124,77
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "关于组合框控件示范程序"
FONT 12,"宋体"
BEGIN
    PUSHBUTTON "确定"，IDOK, 43,51,40,14
    CTEXT "组合框示范程序"，IDC_STATIC, 22,9,92,8
    CTEXT "柳永新编写", IDC_STATIC, 30,24,76,10, NOT WS_GROUP
    CTEXT "一九九六年九月", IDC_STATIC, 36,37,65,8, NOT WS_GROUP
    ICON "EditBoxICON", IDC_STATIC, 11,23,18,20
    CONTROL "", IDC_STATIC, "Static", SS_BLACKFRAME,40,34,56,1
END

SELECTFONTFACEDLGBOX DIALOG DISCARDABLE 0,0,140,117
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION |  WS_SYSMENU
CAPTION"选择字体字样"
FONT 10, "System"
BEGIN
    DEFPUSHBUTTON "确定"，IDOK, 9,93,50,14
    PUSHBUTTON "取消"，IDCANCEL,76,92,50,14
    LTEXT "可选用的 True Type字体:", IDC_STATIC, 13,5,84,8
    COMBOBOX IDC_FONTFACE, 15, 25,95,64, CBS_SIMPLE | CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL | WS_TABSTOP
END

SELECTFONTSTYLEDLGB0X DIALOG DISCARDABLE 0, 0, 168, 98
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "选择字体风格"
FONT 10,"System"
BEGIN
    DEFPUSHBUTTON "确定"， IDOK,15,73,50,14
    PUSHBUTTON "取消"，IDCANCEL,92,73,50,14
    LISTBOX IDL_FONTSTYLE,52,22,43,45, LBS_MULTIPLESEL | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT "请从下面列表框中选择字体风格(可多选):", IDC_STATIC, 12,7, 143,8
END 

SELECTFONTORIENTDLGBOX DIALOG DISCARDABLE O,0,138, 74
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION"设置字体方向"
FONT 10, "System"
BEGIN
    DEFPUSHBUTTON "确定"，IDOK, 22,46,42,14
    PUSHBUTTON "取消"，IDCANCEL, 85,47,39,14
    COMBOBOX IDC_FONTORIENT, 43,27,48,94, CBS DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "请从下面的组合框中选择字体基准线的倾斜方向:", IDC_STATIC,18,3,89,20
END

SELECTFONTCOLORDLGBOX DIALOGEX 0, 0,129,83
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION"设置字体颜色"
FONT 10,"System"
BEGIN
    DEFPUSHBUTTON "确定", IDOK, 13,57,42,14
    PUSHBUTTON    "取消",   IDCANCEL, 74,57,41,142
    COMBOBOX   IDC_FONTCOLOR,19,28,77,62, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT
    LTEXT "请从下面的组合框中选择字体颜色:", IDC_STATIC,18,3,92,22
END
