#include <windows.h>
#include <winnls.h>
#include "editbox.h"

// 资源文件是utf8编码
#pragma code_page(65001)

//Icon
EDITBOXICON ICON DISCARDABLE "about.ico"

// Menu
EDITBOXMENU MENU DISCARDABLE
BEGIN
    POPUP "文件(&F)"
    BEGIN
        MENUITEM "退出(&X)",    IDM_EXIT
    END
    POPUP "编辑(&E)"
    BEGIN
        MENUITEM "撒销(&U)",    IDM_EDITUNDO
        MENUITEM SEPARATOR
        MENUITEM "剪切(&T)",    IDM_EDITCUT
        MENUITEM "复制(&C)",    IDM_EDITCOPY
        MENUITEM "粘贴(&P)",    IDM_EDITPASTE
        MENUITEM "删除(&D)",    IDM_EDITDELETE
        MENUITEM SEPARATOR
        MENUITEM "全部选定(&A)", IDM_EDITSELECTALL
    END
    POPUP "选项(&T)"
    BEGIN
        MENUITEM "设置窗口位置(&P)...",     IDM_SETWINPOSITION
        MENUITEM "设置窗口标题文字(&C)...", IDM_SETWINCAPTION
    END
    POPUP "帮助(&H)"
    BEGIN
        MENUITEM "关于(&A)...",         IDM_ABOUT
    END
END

//Dialog
ABOUTBOX DIALOG DISCARDABLE 20, 25, 124, 77
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "关于编辑控件示范程序"
FONT 10, "宋体"
BEGIN
    PUSHBUTTON "确定",              IDOK,       43, 51, 40, 14
    CTEXT       "编辑控件示范程序", IDC_STATIC, 22, 9, 92, 8
    CTEXT       "版权所有",         IDC_STATIC, 30, 24, 76, 10, NOT WS_GROUP
    CTEXT       "日期",             IDC_STATIC, 36, 37, 65, 8, NOT WS_GROUP
    ICON        "EditBoxICON",      IDC_STATIC, 11, 23, 18, 20
    CONTROL     "", IDC_STATIC, "Static", SS_BLACKFRAME, 40, 34, 56, 1
END

CHECKPASSWORDDLGBOX DIALOGEX 10, 5, 135, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "口令"
FONT 10, "宋体"
BEGIN
    DEFPUSHBUTTON "确定", IDOK, 16, 69, 44, 14, WS_DISABLED | NOT WS_TABSTOP
    PUSHBUTTON "取消", IDCANCEL, 75, 69, 44, 14,  NOT WS_TABSTOP
    EDITTEXT IDE_PASSWORD, 33, 24, 61, 14, ES_UPPERCASE | ES_PASSWORD | ES_AUTOHSCROLL, WS_EX_DLGMODALFRAME
    LTEXT "请输入正确的口令(五个数字字符):", IDC_STATIC, 7,9,118,8
    LTEXT "[提示:这里正确的口令为00000。]", IDC_STATIC,1,47,133,8
END

SETWINDOWPOSITIONDLGBOX DIALOG DISCARDABLE 0, 0, 139, 85
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "设置主窗口位置"
FONT 10, "宋体"
BEGIN
    DEFPUSHBUTTON "确定", IDOK, 5,65,50,14,NOT WS_TABSTOP
    PUSHBUTTON "取消",  IDCANCEL,80,65,50,14, NOT WS_TABSTOP
    EDITTEXT IDC_EDITWINLEFT,90,15,40,14, ES_AUTOHSCROLL | ES_WANTRETURN
    EDITTEXT IDC_EDITWINTOP, 90, 36,40,14,ES_AUTOHSCROLL | ES_WANTRETURN
    LTEXT "主窗口左上角横坐标:", IDC_STATIC,6,18,81,8
    LTEXT "主窗口左上角纵坐标:", IDC_STATIC,5,40,81,8
END

SETWINDOWCAPTIONDLGBOX DIALOG DISCARDABLE 0, 0, 139, 99
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "设置主窗口标题文字"
FONT 10, "宋体"
BEGIN
    DEFPUSHBUTTON "确定", IDOK, 10,64,45,14, NOT WS_TABSTOP
    PUSHBUTTON "取消", IDCANCEL, 80,64,45,14, NOT WS_TABSTOP
    EDITTEXT IDC_EDITWINCAPTION, 32,39,83,13, ES_AUTOHSCROLL| ES_WANTRETURN
    LTEXT "请在下面的编辑控件中输入文字, 作为主窗口标题栏上的标题文字", IDC_STATIC, 8,13,122,21
END
