/*
 * Inspired by Wine file include/wine_common_ver.rc
 * Copyright 2001 Dmitry Timoshkov
 *
 * Most version components are set to reasonable defaults here.
 * If you're including this for a .DLL, #define APPLICATION_VERSION_DLL before the #include.
 * Other things to #define:
 * APPLICATION_STR_FILE_DESCRIPTION
 * APPLICATION_STR_INTERNAL_NAME
 * APPLICATION_STR_ORIGINAL_FILENAME
 *
 */
#include <windows.h>
#include "version.h"

/* Define some defaults (shouldn't be overwritten by applications */
#define APPLICATION_DEFAULT_STR_COMPANY_NAME    "ReactOS Project"
#define APPLICATION_DEFAULT_STR_DESCRIPTION     "ReactOS Core Component"
#define APPLICATION_DEFAULT_STR_INTERNAL_NAME   ""
#define APPLICATION_DEFAULT_STR_LEGAL_COPYRIGHT "(C) 2024 ReactOS Project"
#define APPLICATION_DEFAULT_STR_PRODUCT_NAME    "ReactOS Operating System"

/* Set defaults for everything, unless overridden */
#ifndef APPLICATION_FILEVERSION
#define APPLICATION_FILEVERSION KERNEL_VERSION_MAJOR,KERNEL_VERSION_MINOR,KERNEL_VERSION_PATCH_LEVEL,0
#endif /* APPLICATION_FILEVERSION */

#ifndef APPLICATION_PRODUCTVERSION
#define APPLICATION_PRODUCTVERSION KERNEL_VERSION_MAJOR,KERNEL_VERSION_MINOR,KERNEL_VERSION_PATCH_LEVEL,0
#endif /* APPLICATION_PRODUCTVERSION */

#ifndef APPLICATION_STR_COMPANY_NAME
#define APPLICATION_STR_COMPANY_NAME APPLICATION_DEFAULT_STR_COMPANY_NAME
#endif /* APPLICATION_STR_COMPANY_NAME */

#ifndef APPLICATION_STR_FILE_DESCRIPTION
#define APPLICATION_STR_FILE_DESCRIPTION APPLICATION_DEFAULT_STR_FILE_DESCRIPTION
#endif /* APPLICATION_STR_FILE_DESCRIPTION */

#ifndef APPLICATION_STR_FILE_VERSION
#define APPLICATION_STR_FILE_VERSION KERNEL_VERSION_RC
#endif /* APPLICATION_STR_FILE_VERSION */

#ifndef APPLICATION_STR_INTERNAL_NAME
#define APPLICATION_STR_INTERNAL_NAME APPLICATION_DEFAULT_STR_INTERNAL_NAME
#endif /* APPLICATION_STR_INTERNAL_NAME */

#ifndef APPLICATION_STR_LEGAL_COPYRIGHT
#define APPLICATION_STR_LEGAL_COPYRIGHT APPLICATION_DEFAULT_STR_LEGAL_COPYRIGHT
#endif /* APPLICATION_STR_LEGAL_COPYRIGHT */

#ifndef APPLICATION_STR_ORIGINAL_FILENAME
#define APPLICATION_STR_ORIGINAL_FILENAME ""
#endif /* APPLICATION_STR_ORIGINAL_FILENAME */

#ifndef APPLICATION_STR_PRODUCT_NAME
#define APPLICATION_STR_PRODUCT_NAME APPLICATION_DEFAULT_STR_PRODUCT_NAME
#endif /* APPLICATION_STR_PRODUCT_NAME */

#ifndef APPLICATION_STR_PRODUCT_VERSION
#define APPLICATION_STR_PRODUCT_VERSION KERNEL_VERSION_RC
#endif /* APPLICATION_STR_PRODUCT_VERSION */

/* 版本信息 */
VS_VERSION_INFO VERSIONINFO
FILEVERSION     APPLICATION_FILEVERSION
PRODUCTVERSION  APPLICATION_PRODUCTVERSION
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName",        APPLICATION_STR_COMPANY_NAME
            VALUE "FileDescription",    APPLICATION_STR_FILE_DESCRIPTION
            VALUE "FileVersion",        APPLICATION_STR_FILE_VERSION
            VALUE "InternalName",       APPLICATION_STR_INTERNAL_NAME
#ifdef APPLICATION_STR_ORIGINAL_COPYRIGHT
            VALUE "OriginalCopyright",  APPLICATION_STR_ORIGINAL_COPYRIGHT
#endif /* APPLICATION_STR_ORIGINAL_COPYRIGHT */
            VALUE "LegalCopyright",     APPLICATION_STR_LEGAL_COPYRIGHT
            VALUE "OriginalFilename",   APPLICATION_STR_ORIGINAL_FILENAME
            VALUE "ProductName",        APPLICATION_STR_PRODUCT_NAME
            VALUE "ProductVersion",     APPLICATION_STR_PRODUCT_VERSION
#ifdef APPLICATION_OLESELFREGISTER
            VALUE "OLESelfRegister",    ""
#endif /* APPLICATION_OLESELFREGISTER */
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
