#include <windows.h>
#include <winnls.h>
#include "resource.h"

// 资源文件是utf8编码
#pragma code_page(CP_UTF8)

/* 字符串表 */
STRINGTABLE
BEGIN
    IDS_DIALOG_INFO        "Info"
    IDS_DIALOG_ERROR       "Error"
    IDS_DIALOG_WARNING     "Warning"
    IDS_DIALOG_QUESTION    "Question"
END
