/* vi: set sw=4 ts=4 expandtab: */
#include <windows.h>
#include "timer.h"

// 资源文件是utf8编码
#pragma code_page(65001)

// Dialog
TIMERDLGBOX DIALOG DISCARDABLE 20, 25, 124, 77
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "计时器示范程序"
FONT 12, "宋体"
BEGIN
    CONTROL       "SUN",              IDC_SUN,  "Static",  SS_BITMAP, 11, 10, 11, 11
    CONTROL       "MOON",             IDC_MOON,  "Static", SS_BITMAP, 11, 10, 11, 11
    LTEXT         "0",                IDC_TIMECOUNTER, 61, 46, 43, 14
    PUSHBUTTON      "启动下面的计时器", IDC_STARTTIMER, 51, 18, 69, 13
END

// Bitmap
SUN         BITMAP  DISCARDABLE "sun.bmp"
MOON        BITMAP  DISCARDABLE "moon.bmp"
